SUBSYSTEM=="hwmon", ATTR{name}=="octo", SYMLINK+="hwmon_octo"
SUBSYSTEM=="hwmon", ATTR{name}=="acpitz", SYMLINK+="hwmon_acpitz"
SUBSYSTEM=="hwmon", ATTR{name}=="coretemp", SYMLINK+="hwmon_coretemp"
SUBSYSTEM=="hwmon", ATTR{name}=="iwlwifi_1", SYMLINK+="hwmon_iwlwifi_1"
