ACTION=="add", SUBSYSTEM=="hwmon", ATTRS{name}=="octo", SYMLINK+="hwmon_octo"
ACTION=="add", SUBSYSTEM=="hwmon", ATTRS{name}=="acpitz", SYMLINK+="hwmon_acpitz"
ACTION=="add", SUBSYSTEM=="hwmon", ATTRS{name}=="coretemp", SYMLINK+="hwmon_coretemp"
ACTION=="add", SUBSYSTEM=="hwmon", ATTRS{name}=="iwlwifi_1", SYMLINK+="hwmon_iwlwifi_1"
